<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ECEN 689 Project</title>
    <link rel="icon" href="data:,">
</head>

<html>
    
    <body>

        <h2>ECEN 689 Introduction to Formal Verification Class Project</h2>
        
        <svg id="svg_base" width="100%" height="1000"></svg>

    </body>    

    <script>

        let number_of_vehicles = 200;

        const Road  = {
            ROAD_A: 0,
            ROAD_E: 1,
            ROAD_F: 2,
            ROAD_G: 3,
            ROAD_H: 4,
            ROAD_I: 5,
            ROAD_J: 6,
            ROAD_K: 7,
            ROAD_L: 8,
            ROAD_M: 9,
            ROAD_N: 10,
            ROAD_O: 11,
            ROAD_P: 12
        };

        const Crossroads = [
            "CROSSROAD_B",
            "CROSSROAD_C",
            "CROSSROAD_D",
            "CROSSROAD_U",
            "CROSSROAD_V",
            "CROSSROAD_W",
            "CROSSROAD_X",
            "CROSSROAD_Y",
            "CROSSROAD_Z"
        ];

        const Crossroad_Connections = {
            "CROSSROAD_Z": [
                "WEST",
                "EAST",
                "SOUTH"
            ],
            "CROSSROAD_X": [
                "WEST",
                "EAST",
                "SOUTH"
            ],
            "CROSSROAD_D": [
                "WEST",
                "SOUTH"
            ],
            "CROSSROAD_Y": [
                "NORTH",
                "EAST",
                "SOUTH"
            ],
            "CROSSROAD_U": [
                "NORTH",
                "EAST",
                "WEST",
                "SOUTH"
            ],
            "CROSSROAD_W": [
                "NORTH",
                "WEST",
                "SOUTH"
            ],
            "CROSSROAD_B": [
                "NORTH",
                "EAST"
            ],
            "CROSSROAD_V": [
                "NORTH",
                "WEST",
                "EAST"
            ],
            "CROSSROAD_C": [
                "NORTH",
                "WEST"
            ]
        };

        const Direction = {
            DIRECTION_RIGHT: 1,
            DIRECTION_LEFT: 2
        };

        const start_location_road_section = [
            // ROAD_A
            [250, 90, 115],

            // ROAD_E
            [600, 90, 115],

            // ROAD_F
            [950, 90, 115],

            // ROAD_G
            [262.5, 287.5, 127.5],
           
            // ROAD_H
            [612.5, 637.5, 127.5],

            // ROAD_I
            [962.5, 987.5, 127.5],

            // ROAD_J
            [600, 440, 465],

            // ROAD_K
            [950, 440, 465],

            // ROAD_L
            [262.5, 287.5, 477.5],

            // ROAD_M
            [612.5, 637.5, 477,5],

            // ROAD_N
            [962.5, 987.5, 477,5],

            // ROAD_O
            [600, 790, 815],

            // ROAD_P
            [950, 790, 815],
        ]; 

        const traffic_light_positions_center = [
            // CROSSROAD_B
            [275, 802.5],

            // CROSSROAD_C
            [975, 800],

            // CROSSROAD_D
            [975, 100],
            
            // CROSSROAD_U
            [625, 452.5],
            
            // CROSSROAD_V
            [625, 802.5],
            
            // CROSSROAD_W
            [975, 450],
            
            // CROSSROAD_X
            [625, 102.5],
            
            // CROSSROAD_Y
            [275, 452.5],
            
            // CROSSROAD_Z
            [275, 102.5]            
        ];

        let svg_base = document.getElementById("svg_base");

        // Draw circles to represent vehicles
        let circle = [];
        let text = [];
        
        for (let index = 0; index < number_of_vehicles; index++) {        

            let new_circle_left_direction = document.createElementNS("http://www.w3.org/2000/svg", "circle");
            
            new_circle_left_direction.setAttribute("class", "svg_circle");
            new_circle_left_direction.setAttribute("id", "vehicle_" + index);
            new_circle_left_direction.setAttribute("cx", 0); 
            new_circle_left_direction.setAttribute("cy", 0);
            new_circle_left_direction.setAttribute("r", 4);
            new_circle_left_direction.setAttribute("transform", "translate(200, 200)");
            new_circle_left_direction.style.stroke = "blue";
            new_circle_left_direction.style.strokeWidth = "2";
            new_circle_left_direction.style.fill = "red";

                        
            var txt = document.createElementNS("http://www.w3.org/2000/svg", 'text');
            txt.setAttribute('x', 0);
            txt.setAttribute('y', 0);
            txt.setAttribute('font-size','14');
            txt.innerHTML = index;

            svg_base.appendChild(txt);

            svg_base.appendChild(new_circle_left_direction);  
            
            circle.push(new_circle_left_direction);
            text.push(txt);
        }

        // Draw the initial positions for traffic lights
        let traffic_light = [];

        for (let i = 0; i < 9; i++) {            

            let east_traffic_light = document.createElementNS("http://www.w3.org/2000/svg", "circle");          
            
            east_traffic_light.setAttribute("class", "svg_circle");
            east_traffic_light.setAttribute("id", Crossroads[i]);
            east_traffic_light.setAttribute("cx", traffic_light_positions_center[i][0]-8); 
            east_traffic_light.setAttribute("cy", traffic_light_positions_center[i][1]);
            east_traffic_light.setAttribute("r", 5);            
            east_traffic_light.style.stroke = "white";
            east_traffic_light.style.strokeWidth = "0";
            east_traffic_light.style.fill = "white";

            svg_base.appendChild(east_traffic_light);  

            let south_traffic_light = document.createElementNS("http://www.w3.org/2000/svg", "circle");     
            
            south_traffic_light.setAttribute("class", "svg_circle");
            south_traffic_light.setAttribute("id", Crossroads[i]);
            south_traffic_light.setAttribute("cx", traffic_light_positions_center[i][0]); 
            south_traffic_light.setAttribute("cy", traffic_light_positions_center[i][1]-8);
            south_traffic_light.setAttribute("r", 5);            
            south_traffic_light.style.stroke = "white";
            south_traffic_light.style.strokeWidth = "0";
            south_traffic_light.style.fill = "white";

            svg_base.appendChild(south_traffic_light);  

            let west_traffic_light = document.createElementNS("http://www.w3.org/2000/svg", "circle");

            west_traffic_light.setAttribute("class", "svg_circle");
            west_traffic_light.setAttribute("id", Crossroads[i]);
            west_traffic_light.setAttribute("cx", traffic_light_positions_center[i][0]+8); 
            west_traffic_light.setAttribute("cy", traffic_light_positions_center[i][1]);
            west_traffic_light.setAttribute("r", 5);            
            west_traffic_light.style.stroke = "white";
            west_traffic_light.style.strokeWidth = "0";
            west_traffic_light.style.fill = "white";

            svg_base.appendChild(west_traffic_light);  

            let north_traffic_light = document.createElementNS("http://www.w3.org/2000/svg", "circle");

            north_traffic_light.setAttribute("class", "svg_circle");
            north_traffic_light.setAttribute("id", Crossroads[i]);
            north_traffic_light.setAttribute("cx", traffic_light_positions_center[i][0]); 
            north_traffic_light.setAttribute("cy", traffic_light_positions_center[i][1]+8);
            north_traffic_light.setAttribute("r", 5);            
            north_traffic_light.style.stroke = "white";
            north_traffic_light.style.strokeWidth = "0";
            north_traffic_light.style.fill = "white";

            svg_base.appendChild(north_traffic_light);  

            let crossroad_traffic_light_group = [east_traffic_light, south_traffic_light, west_traffic_light, north_traffic_light];            

            traffic_light.push(crossroad_traffic_light_group);
        }

        function return_draw_location(road_segment, direction, location) {
            
            if ([0, 1, 2, 6, 7, 11, 12].includes(road_segment)) {
                
                if (direction == 1) {

                    let x = start_location_road_section[road_segment][0] - location - 5;
                    let y = start_location_road_section[road_segment][1];                  

                    return [x, y];
                }

                else if (direction == 2) {
                   
                    let x = start_location_road_section[road_segment][0] - location - 5;
                    let y = start_location_road_section[road_segment][2];

                    return [x, y];
                }

            }

            else if ([3, 4, 5, 8, 9, 10].includes(road_segment)) {

                if (direction == 1) {

                    let x = start_location_road_section[road_segment][0];
                    let y = start_location_road_section[road_segment][2] + location + 5;

                    return [x, y];
                }

                else if (direction == 2) {

                    let x = start_location_road_section[road_segment][1];
                    let y = start_location_road_section[road_segment][2] + location + 5 ;

                    return [x, y];
                }
            }
        }        

        // Add texts for reporting traffic system information   
        var throughtput_report_txt = document.createElementNS("http://www.w3.org/2000/svg", 'text');
        throughtput_report_txt.setAttribute('x', 10);
        throughtput_report_txt.setAttribute('y', 25);
        throughtput_report_txt.setAttribute('font-size','20');
        throughtput_report_txt.innerHTML = "Throughput: ";

        svg_base.appendChild(throughtput_report_txt);

        var stale_vehicles_report_txt = document.createElementNS("http://www.w3.org/2000/svg", 'text');
        stale_vehicles_report_txt.setAttribute('x', 10);
        stale_vehicles_report_txt.setAttribute('y', 50);
        stale_vehicles_report_txt.setAttribute('font-size','20');
        stale_vehicles_report_txt.innerHTML = "Stale vehicles: ";

        svg_base.appendChild(stale_vehicles_report_txt);

        var collision_report_txt = document.createElementNS("http://www.w3.org/2000/svg", 'text');
        collision_report_txt.setAttribute('x', 10);
        collision_report_txt.setAttribute('y', 75);
        collision_report_txt.setAttribute('font-size','20');
        collision_report_txt.innerHTML = "Collisions: ";

        svg_base.appendChild(collision_report_txt);

        var u_turn_report_txt = document.createElementNS("http://www.w3.org/2000/svg", 'text');
        u_turn_report_txt.setAttribute('x', 10);
        u_turn_report_txt.setAttribute('y', 100);
        u_turn_report_txt.setAttribute('font-size','20');
        u_turn_report_txt.innerHTML = "U-turns: ";

        svg_base.appendChild(u_turn_report_txt);     
        
        var red_light_violation_report_txt = document.createElementNS("http://www.w3.org/2000/svg", 'text');
        red_light_violation_report_txt.setAttribute('x', 10);
        red_light_violation_report_txt.setAttribute('y', 125);
        red_light_violation_report_txt.setAttribute('font-size','20');
        red_light_violation_report_txt.innerHTML = "Red light violations: ";

        svg_base.appendChild(red_light_violation_report_txt);  
        
        var time_report_txt = document.createElementNS("http://www.w3.org/2000/svg", 'text');
        time_report_txt.setAttribute('x', 10);
        time_report_txt.setAttribute('y', 150);
        time_report_txt.setAttribute('font-size','20');
        time_report_txt.innerHTML = "Time: ";

        svg_base.appendChild(time_report_txt); 

        // Timed job for gettin vehicle locations
        function update_vehicle_location() {
            let httpRequest = new XMLHttpRequest();
            let url = "http://localhost:5000/query_vehicle_status/" + number_of_vehicles;
            httpRequest.open("GET", url, true);
            httpRequest.send(null);

            httpRequest.onreadystatechange = (e) => {
                if (httpRequest.readyState == XMLHttpRequest.DONE) {

                    let status = httpRequest.status;

                    let stale_vehicles = 0;

                    let vehicle_collisions = 0;

                    let vehicle_u_turns = 0;

                    let throughput = 0;

                    let red_light_violations = 0;

                    let time = 0;

                    if (status == 0 || (status >= 200 && status < 400)) {
                        
                        let response = JSON.parse(httpRequest.responseText);      
                        
                        vehicle_collisions = response["vehicle_collisions"];

                        vehicle_u_turns = response["u_turns"];

                        throughput = response["throughput"];

                        red_light_violations = response["red_light_violation"];

                        time = response["clock"];
                        
                        // Set the traffic light signals
                        for (let traffic_light_id = 0; traffic_light_id < 9; traffic_light_id++) {
                            
                            let crossroad_name = Crossroads[traffic_light_id];                            
                            let crossroad_traffic_light_status= response[crossroad_name];                            

                            if ("EAST" in crossroad_traffic_light_status && Crossroad_Connections[crossroad_name].includes("WEST")) {

                                traffic_light[traffic_light_id][0].style.fill = crossroad_traffic_light_status["EAST"];

                            }

                            if ("SOUTH" in crossroad_traffic_light_status && Crossroad_Connections[crossroad_name].includes("NORTH")) {

                                traffic_light[traffic_light_id][1].style.fill = crossroad_traffic_light_status["SOUTH"];

                            }

                            if ("WEST" in crossroad_traffic_light_status && Crossroad_Connections[crossroad_name].includes("EAST")) {

                                traffic_light[traffic_light_id][2].style.fill = crossroad_traffic_light_status["WEST"];
                                
                            }

                            if ("NORTH" in crossroad_traffic_light_status && Crossroad_Connections[crossroad_name].includes("SOUTH")) {

                                traffic_light[traffic_light_id][3].style.fill = crossroad_traffic_light_status["NORTH"];
                                
                            }                            
                        }

                        // Set the vehicle positions
                        for (let vehicle_id = 0; vehicle_id < number_of_vehicles; vehicle_id++) {

                            let vehicle_name = "vehicle_" + vehicle_id;
                            let new_vehicle_location = return_draw_location(response[vehicle_name]["road_segment"], response[vehicle_name]["direction"], response[vehicle_name]["location"] * 10);                        
                            let movement = " translate(" + new_vehicle_location[0] + "," + new_vehicle_location[1] + ")"

                            if (response[vehicle_name]["road_segment"] == 0 && response[vehicle_name]["direction"] == 2 && response[vehicle_name]["location"] == 2) {
                                stale_vehicles++;
                            }

                            if ([0, 1, 2, 6, 7, 11, 12].includes(response[vehicle_name]["road_segment"])) {
                                if (response[vehicle_name]["direction"] == 1) {
                                    let text_movement = " translate(" + (new_vehicle_location[0] - 5) + "," + (new_vehicle_location[1] - 25) + ")"
                                    text[vehicle_id].setAttribute("transform", text_movement);       
                                }
                                else {
                                    let text_movement = " translate(" + (new_vehicle_location[0] - 5) + "," + (new_vehicle_location[1] + 25) + ")"
                                    text[vehicle_id].setAttribute("transform", text_movement);  
                                }
                            }
                            else {
                                if (response[vehicle_name]["direction"] == 1) {
                                    let text_movement = " translate(" + (new_vehicle_location[0] - 25) + "," + (new_vehicle_location[1] + 5) + ")"
                                    text[vehicle_id].setAttribute("transform", text_movement);       
                                }
                                else {
                                    let text_movement = " translate(" + (new_vehicle_location[0] + 25) + "," + (new_vehicle_location[1] + 5) + ")"
                                    text[vehicle_id].setAttribute("transform", text_movement);  
                                }
                            }
                                                        
                            circle[vehicle_id].setAttribute("transform", movement);  

                        }                                                              
                    }   
                    
                    stale_vehicles_report_txt.innerHTML = "Stale vehicles: " + stale_vehicles;                    

                    collision_report_txt.innerHTML = "Collisions: " + vehicle_collisions;                

                    u_turn_report_txt.innerHTML = "U-turns: " + vehicle_u_turns;                    

                    throughtput_report_txt.innerHTML = "Throughput: " + throughput + " vehicles/h"; 
                    
                    red_light_violation_report_txt.innerHTML = "Red light violations: " + red_light_violations;

                    time_report_txt.innerHTML = "Time: " + time;
                }   
            }                             
        }        

        window.setInterval(update_vehicle_location, 1000);

        // Draw the horizontal road segments
        for (let vertical_index = 0; vertical_index < 3; vertical_index++) {

            for (let horizontal_offset = 0; horizontal_offset < 2; horizontal_offset++) {
            
                let new_road = document.createElementNS("http://www.w3.org/2000/svg", "rect");

                new_road.setAttribute("x", 350 * horizontal_offset + 300);
                new_road.setAttribute("y", 350 * vertical_index + 100);
                new_road.setAttribute("width", 300);
                new_road.setAttribute("height", 5);
                new_road.style.fill = "#f7b500";
                new_road.style.stroke = "#f7b500";

                svg_base.appendChild(new_road);   

                let new_top_road = document.createElementNS("http://www.w3.org/2000/svg", "rect");

                new_top_road.setAttribute("x", 350 * horizontal_offset + 300);
                new_top_road.setAttribute("y", 350 * vertical_index + 80);
                new_top_road.setAttribute("width", 300);
                new_top_road.setAttribute("height", 20);
                new_top_road.setAttribute("position", "relative");
                new_top_road.setAttribute("z-index", -1);
                new_top_road.style.fill = "grey";
                new_top_road.style.stroke = "grey";
                
                // svg_base.appendChild(new_top_road);

                let new_bottom_road = document.createElementNS("http://www.w3.org/2000/svg", "rect");

                new_bottom_road.setAttribute("x", 350 * horizontal_offset + 300);
                new_bottom_road.setAttribute("y", 350 * vertical_index + 105);
                new_bottom_road.setAttribute("width", 300);
                new_bottom_road.setAttribute("height", 20);
                new_bottom_road.setAttribute("position", "relative");
                new_bottom_road.setAttribute("z-index", -1);
                new_bottom_road.style.fill = "grey";
                new_bottom_road.style.stroke = "grey";
                
                // svg_base.appendChild(new_bottom_road);   
            }            
        }

        // Draw the vertical road segments
        for (let horizontal_index = 0; horizontal_index < 3; horizontal_index++) {

            for (let vertical_offset = 0; vertical_offset < 2; vertical_offset++) {

                let new_road = document.createElementNS("http://www.w3.org/2000/svg", "rect");
                
                new_road.setAttribute("x", 350 * horizontal_index + 272.5);
                new_road.setAttribute("y", 350 * vertical_offset + 127.5);
                new_road.setAttribute("width", 5);
                new_road.setAttribute("height", 300);
                new_road.style.fill = "#f7b500";
                new_road.style.stroke = "#f7b500";
                
                svg_base.appendChild(new_road);   

                let new_left_road = document.createElementNS("http://www.w3.org/2000/svg", "rect");
                
                new_left_road.setAttribute("x", 350 * horizontal_index + 252.5);
                new_left_road.setAttribute("y", 350 * vertical_offset + 127.5);
                new_left_road.setAttribute("width", 20);
                new_left_road.setAttribute("height", 300);
                new_left_road.setAttribute("position", "relative");
                new_left_road.setAttribute("z-index", -1);
                new_left_road.style.fill = "grey";
                new_left_road.style.stroke = "grey";
                
                // svg_base.appendChild(new_left_road);

                let new_right_road = document.createElementNS("http://www.w3.org/2000/svg", "rect");
                
                new_right_road.setAttribute("x", 350 * horizontal_index + 277.5);
                new_right_road.setAttribute("y", 350 * vertical_offset + 127.5);
                new_right_road.setAttribute("width", 20);
                new_right_road.setAttribute("height", 300);
                new_right_road.setAttribute("position", "relative");
                new_right_road.setAttribute("z-index", -1);
                new_right_road.style.fill = "grey";
                new_right_road.style.stroke = "grey";
                
                // svg_base.appendChild(new_right_road);   
            }
        }

        // Draw the top left road segment: ROAD_A
        let road_a_top = document.createElementNS("http://www.w3.org/2000/svg", "rect");

        road_a_top.setAttribute("x", 230);
        road_a_top.setAttribute("y", 80);
        road_a_top.setAttribute("width", 20);
        road_a_top.setAttribute("height", 20);
        road_a_top.style.fill = "grey";
        road_a_top.style.stroke = "grey";

        // svg_base.appendChild(road_a_top);   

        let road_a_mid = document.createElementNS("http://www.w3.org/2000/svg", "rect");

        road_a_mid.setAttribute("x", 230);
        road_a_mid.setAttribute("y", 100);
        road_a_mid.setAttribute("width", 20);
        road_a_mid.setAttribute("height", 5);
        road_a_mid.style.fill = "#f7b500";
        road_a_mid.style.stroke = "#f7b500";

        svg_base.appendChild(road_a_mid);   

        let road_a_bottom = document.createElementNS("http://www.w3.org/2000/svg", "rect");

        road_a_bottom.setAttribute("x", 230);
        road_a_bottom.setAttribute("y", 105);
        road_a_bottom.setAttribute("width", 20);
        road_a_bottom.setAttribute("height", 20);
        road_a_bottom.style.fill = "grey";
        road_a_bottom.style.stroke = "grey";
        
    </script>

</html>